.addform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: darkgray;
    align-items: center;
}
.select {
    width: 10%;
    margin-right: 5px;
}